<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<StackLayout style="padding: 5; font-size: 18;" class="page page-content">
    <Label style="font-size: 30; padding: 10 0"class="settings_head" text="Your Profile Information"></Label>
    
    <Label class="settings" text="Full Name"></Label>
    <TextField [(ngModel)]="name" class="input" hint="e.g. Joe Smith"></TextField>

    <Label class="settings" text="Email Address"></Label>
    <TextField [(ngModel)]="email" class="input" hint="e.g. joesmith@carbit.com"></TextField>

    <Label class="settings" text="Birthday"></Label>
    <TextField [(ngModel)]="birthday" class="input" hint="e.g. 11/11/1977"></TextField>

    <Label class="settings" text="Gender"></Label>
    <TextField [(ngModel)]="gender" class="input" hint="e.g. male, female, other"></TextField>

    <StackLayout class="hr-light"></StackLayout>

    <button text="Save" (tap)="onSaveButtonTap()"></button>


    <Label style="font-size: 20; padding: 10 0"class="settings_head" text="Please submit any feedback!"></Label>

    <TextField [(ngModel)]="feedbackText" class="input"></TextField>
    <button text="Submit" (tap)="onFeedbackSubmit()"></button>
</StackLayout>
