<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Driving Mode"></Label>
</ActionBar>

<StackLayout>
    <Label style="font-size: 22; text-align: center;padding-top:25px" text="Your Speed"></Label>
    <Label class="speedo" id="speedLabel" text="{{speed}} {{units}}" (tap)="onSpeedLabelTap()" ></Label>
    <Label style="padding:40px; font-size: 30; text-align: center" class="drive_page_content" text="Optimal Speed: {{optimalSpeed}} {{units}}" ></Label>
    <Label style="padding:40px; font-size: 30; text-align: center" class="drive_page_content" text="Acceleration: {{acceleration}} {{units}}" ></Label>
    <Label style="padding:40px; text-align: center" class="drive_page_content" text="Latitude: {{latitude}}" ></Label>
    <Label style="padding:40px;text-align: center" class="drive_page_content" text="Longitude: {{longitude}}" ></Label>
    <button style="padding:25px; height:220px; font-size: 45" [nsRouterLink]="['/home']" text="end drive" (tap)="updateParkingLocation()"></button>
<StackLayout>
