<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Driving Mode"></Label>
</ActionBar>

<StackLayout>
    <Label text="Welcome to your car!!!!!!!!!"></Label>
    <button [nsRouterLink]="['/home']" class="buttona" text="end drive" (tap)="updateParkingLocation()"></button>
    <Label class="drive_page_content" id="speedLabel" text="speed: {{speed}} {{units}}" (tap)="onSpeedLabelTap()" ></Label>
    <Label class="drive_page_content" text="latitude: {{latitude}}" ></Label>
    <Label class="drive_page_content" text="longitude: {{longitude}}" ></Label>
    <Label class="drive_page_content" text="optimal speed: {{optimalSpeed}} {{units}}" ></Label>
<StackLayout>
